@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(../images/bg-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(to right, #8e44ad, #3498db);
  color: white;
  text-align: center;
  padding: 16px 0;
  font-size: 3em;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem; /* Adjusted padding */
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Adjusted maximum width */
  width: 70%;
}


.signup-section {
  text-align: center;
  max-width: 350px;
  width: 100%;
}

.signup-section h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

button[type="submit"] {
  background-color: #6a11cb;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2575fc;
}

p {
  margin-top: 1rem;
}

p a {
  color: #6a11cb;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
